<div class="container">
  <div class="col-md-6">
    <table class="table table-bordered">
      <tr>
        <td colspan=2>
          Maintable
        </td>
      </tr>
      <tr>
        <td>
          no of columns: 
        </td>
        <td>
          <select> 
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          lookup type:
        </td>
        <td>
          <input type="radio" value="standard">standard &nbsp; &nbsp; &nbsp;
          <input type="radio" value="range">range
        </td>
      </tr>
      <tr> 
        <td>
          Effect date:
        </td>
        <td>
          <input type="date">
        </td>
      </tr>
      <tr>
        <td>
          Expiry date:
        </td>
        <td>
          <input type="date">
        </td>
      </tr>
    
    </table>
  </div>
</div>